<footer class="footer" id="footer" style="background-color:#f7f8f9;">
    <div class="container" style="padding-top:50px;padding-bottom:30px;color:black;">
      <div class="row">
        <div class="col-md-3">
          <h3>Online Courses</h3>
          <ul class="list-unstyled f-list">
            <li><a routerLink="/aboutus" style="color:black;text-decoration: none;">About us</a></li>
            <li><a href="aws.html" style="color:black;text-decoration: none;">News & Media</a></li>
            <li><a href="qatesting.html" style="color:black;text-decoration: none;">Community</a></li>
            <li><a href="tableau.html" style="color:black;text-decoration: none;">Contact us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Courses</h3>
          <ul class="list-unstyled f-list">
            <li><a href="devops.html" style="color:black;text-decoration: none;">Devops</a></li>
            <li><a href="aws.html" style="color:black;text-decoration: none;">AWS</a></li>
            <li><a href="qatesting.html" style="color:black;text-decoration: none;">QA Testing</a></li>
            <li><a href="tableau.html" style="color:black;text-decoration: none;">Tableau</a></li>
            <li><a href="python.html" style="color:black;text-decoration: none;">Python</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Useful Links</h3>
          <ul class="list-unstyled f-list">  
            <li><a routerLink="/termsconditions" style="color:black;text-decoration: none;">Terms & Conditions</a></li>          
            <li><a href="angular.html" style="color:black;text-decoration: none;">Angular JS &amp; UI</a></li>
            <li><a href="salesforce.html" style="color:black;text-decoration: none;">Hibernate</a></li>
            <li><a href="pega.html" style="color:black;text-decoration: none;">Springs</a></li>
            <li><a href="dotnet.html" style="color:black;text-decoration: none;">C++</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Keep In Touch</h3>
          <ul style="display:flex;list-style:none;margin-left: -40px;">
            <li>
              <a href="" target="_blank" style="padding-right: 2px;color:black;text-decoration: none;">
                <img src="../../assets/facebookicon.png" style="width:50px;height: 50px;">
              </a>
            </li>
            <li>
              <a href="" target="_blank" style="padding-right: 10px;color:black;text-decoration: none;">
                <img src="../../assets/twittericon.png" style="width:34px;margin-top: 8px;">
              </a>
            </li>
            <li>
              <a href="" target="_blank" style="padding-right: 10px;color:black;text-decoration: none;">
                <img src="../../assets/googleplusicon.png" style="width:32px;margin-top: 8px;">
              </a>
            </li>
          </ul>
          <p class="phone"><i class="fa fa-phone"></i> IND : +91-9618177002</p>
          <!-- <p class="phone"><i class="fa fa-phone"></i> USA : +1 (732) 984 7078</p> -->
          <p><i class="fa fa-envelope "></i> Questions: <a href="#">class@onlinecourses.com</a></p>
        </div>
      </div>
    </div>
    <div class="footer-bottom" style="background-color: #e8e9ea;padding: 20px;">
      <div class="container text-center">
          <span style="color:black;font-size:15px;">© Copyright 2019. All Right Reserved. Online Courses</span>
      </div>
    </div>
  </footer>
  <!-- <router-outlet></router-outlet> -->