<header>
  <nav class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar" style="background-color:white;color:black;font-size: 15px;">
      <ul class="navbar-nav ml-auto" style="padding:10px;">
        <li class="nav-item"><i class="fa fa-envelope" style="padding-left:20px;"></i>&nbsp;class@onlinecourses.com  
        <i class="fa fa-phone" style="padding-left:20px;"></i>&nbsp;+91-9618177002&nbsp;</li>
      </ul>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar" style="background-color:#0060af;">
      <a class="navbar-brand"  href="/home" style="color:white;padding:0px;">&nbsp;
        <img src="../../assets/logo2.png" style="width: 80px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <form class="form-inline"  [formGroup]="SearchForm" (ngSubmit)="onSubmit()" style="margin-left:50px;">
          <input type="text" class="form-control" formControlName="Name" name="search" [(ngModel)]="term" placeholder=" Start searching for a courses by name" style="box-shadow: 4px 4px 14px 0 rgba(0,0,0,0.06);width:400px;border: 1px solid #e8e8e8;border-radius: 1px;">
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="padding-left:10px;">
            <a class="nav-link" routerLink="/Courses" href="#" style="color:white;">Courses</a>
          </li>
          <li class="nav-item" style="padding-left:10px;">
            <a class="nav-link" href="#" routerLink="/AboutUs" style="color:white;">About Us</a>
          </li>
          <li style="padding-top:5px;padding-left:15px;">
            <a class="btn" href="" routerLink="/studentRegister" style="background-color: #d8491d;padding:5px;border-radius: 4px;color:white;font-size: 11px;"> <i class="fa fa-pencil" style="padding-right:5px;color:white;" aria-hidden="true"></i>Student Reg</a>
          </li>
          <li style="padding-top:5px;padding-left:15px;">
            <a class="btn btn-primary" href="" routerLink="/TrainerRegister" style="border-radius: 4px;padding:5px;color:white;font-size: 11px;"> <i class="fa fa-pencil" style="padding-right:5px;color:white;" aria-hidden="true"></i>Trainer Reg</a>
          </li>
          <li style="padding-top:5px;padding-left:15px;">
            <a class="btn" href="" routerLink="/Workshops" style="background-color: #d8491d;border-radius: 4px;padding:5px;color:white;font-size: 11px;">WorkShops</a>
          </li>
        </ul>
      </div>
    </nav>
    <ul *ngIf="term" class="list-group">
      <li class="list-group-item" style="background-color: white;" *ngFor="let user of AllCourses | filter: term ">
        <a [routerLink]="['/singleCourse', user.name]">{{user.name}}</a>
      </li>
    </ul>
    <p class="text-center" style="background-color: white;font-size: 15px;padding:12px;">
      <a href="" *ngFor="let java of all.java" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', java.name]">Java</a>
      <a href="" *ngFor="let Angular of all.Angular" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', Angular.name]">Angular</a>
      <a href="" *ngFor="let Nodejs of all.Nodejs" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', Nodejs.name]">Nodejs</a>
      <a href="" *ngFor="let C of all.C" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', C.name]">C</a>
      <a href="" *ngFor="let Spark of all.Spark" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', Spark.name]">Spark</a>
      <a href="" *ngFor="let Hadoop of all.Hadoop" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', Hadoop.name]">Hadoop</a>
      <a href="" *ngFor="let DataStructure of all.DS" style="padding-left:17px;padding-right: 17px;color:black;text-decoration: none;padding-top:5px;padding-bottom: 5px;" [routerLink]="['/singleCourse', DataStructure.name]">Data Structure</a>
    </p>
  </nav>
</header>
<router-outlet></router-outlet>