<br>
<nav aria-label="breadcrumb" style="margin-top:160px;">
  <ol class="breadcrumb" >
    <li class="breadcrumb-item "><a href="#" routerLink="" class="breadcrumb-item1">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</nav>
<section class="container">
  <div class="row">
    <div class="col-md-3">
      <h1 style="color:lightgrey;padding-top: 40px;font-size: 50px;">Core Strenghts <span style="color:#f4bd37">.</span></h1>
    </div>
    <div class="col-md-9">
      <h5>INNOVATION</h5>
      <p>We Combine Companies Core Competitive Advantages with External Initiatives to Create Disruptive Solutions, as well as identifying New Business Opportunities.</p>
      <h5>TECHNOLOGY</h5>
      <p>We have our own Digital Software Factory, a Production tool that allows Companies to Develop Tailored Solutions in an Agile and Flexible way.</p>
      <h5>STRATEGY</h5>
      <p>Our Aim is to help Companies make their Digital Transformation. We apply New Technologies to every aspect of the Business Strategy and Manage their Impact on Organizations.</p>
    </div>
  </div><br>
  <hr style="height:1px;"/><br><br>
  <div class="row">
    <div class="col-md-1"></div>  
    <div class="card col-md-10" style="padding:20px;box-shadow: 2px 2px 3px #aaaaaa;">
      <div class="row">
        <div class="col-md-2">
          <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid" style="border-radius: 50%;margin-top: 20px;">
          <h5 class="text-center">Sairam</h5>
          <!-- <h6 class="text-center">Founder & CEO</h6> -->
        </div>
        <div class="col-md-1">
          <hr style="width:1px;height:170px;background-color:lightgrey"/>
        </div>
        <div class="col-md-9">
          <p style="text-align:justify;padding-top:30px; ">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>  
    <div class="card col-md-10" style="padding:20px;box-shadow: 2px 2px 3px #aaaaaa;">
      <div class="row">
        <div class="col-md-2">
          <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid" style="border-radius: 50%;margin-top: 20px;">
          <h5 class="text-center">Kishore</h5>
          <!-- <h6 class="text-center">Founder & CEO</h6> -->
        </div>
        <div class="col-md-1">
          <hr style="width:1px;height:170px;background-color:lightgrey"/>
        </div>
        <div class="col-md-9">
          <p style="text-align:justify;padding-top:30px; ">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>  
    <div class="card col-md-10" style="padding:20px;box-shadow: 2px 2px 3px #aaaaaa;">
      <div class="row">
        <div class="col-md-2">
          <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid" style="border-radius: 50%;margin-top: 20px;">
          <h5 class="text-center">Prasad</h5>
          <!-- <h6 class="text-center">Founder & CEO</h6> -->
        </div>
        <div class="col-md-1">
          <hr style="width:1px;height:170px;background-color:lightgrey"/>
        </div>
        <div class="col-md-9">
          <p style="text-align:justify;padding-top:30px; ">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
<br><br><br>