<section class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 style="padding-top:40px;padding-bottom:10px;">Trending Courses</h4>
    </div>
  </div>
</section>
<section class="container" style="padding-bottom:40px;">
  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="card card1" *ngFor="let java of Java">
              <img class="card-img-top" src="../../assets/master2-min.png" alt="Card image cap">
              <img src="../../assets/javalogo.png" id="java">
              <div class="card-body">
                <h5 class="card-title">Java Development Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 10 days-20 Days<br><br>
                    Courses Under the Program
                    <li>Java Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', java.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="card card1" *ngFor="let react of Reactjs" >
              <img class="card-img-top" src="../../assets/master1-min.png" alt="Card image cap">
              <img src="../../assets/Reactjslogo.png" id="react">
              <div class="card-body">
                <h5 class="card-title">React Development Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 10 days-20 Days<br><br>
                    Courses Under the Program
                    <li>React Essentials</li><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', react.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="card card1" *ngFor="let angular of Angular">
              <img class="card-img-top" src="../../assets/master3-min.png" alt="Card image cap">
              <img src="../../assets/angularlogo.png" id="angular">
              <div class="card-body">
                <h5 class="card-title">Angular Development Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 10 days-20 Days<br><br>
                    Courses Under the Program
                    <li>Angular Essentials</li><br><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', angular.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="card card1" *ngFor="let node of Nodejs">
              <img class="card-img-top" src="../../assets/master7-min.png" alt="Card image cap">
              <img src="../../assets/nodejslogo.png" id="nodejs">
              <div class="card-body">
                <h5 class="card-title">Nodejs Development Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" style="padding-right:10px;font-size: 12px;" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i>
                  <i class='fa fa-star' style='font-size:20px;color:#f4bd37;padding-top: 5px;'></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 10 days-20 Days<br><br>
                    Courses Under the Program
                    <li>Node Js Essentials</li><br><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', node.courseName]">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="card card1" *ngFor="let AWS of AWS">
              <img class="card-img-top" src="../../assets/master5-min.png" alt="Card image cap">
              <img src="../../assets/awslogo.png" id="amazon">
              <div class="card-body">
                <h5 class="card-title">AWS Development Training</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                    <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                    <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                    Reviews<br>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i>
                    <i class='fa fa-star' id="star"></i><br><br>
                    <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 10 days-20 Days<br><br>
                    Courses Under the Program
                    <li>AWS Essentials</li><br><br>
                    <a href="" class="btn btn-outline-primary" [routerLink]="['/singleCourse', AWS.courseName] ">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="card card1">
              <img class="card-img-top" src="../../assets/master4-min.png" alt="Card image cap">
              <img src="../../assets/data-analytics-icon.png" id="machine">
              <div class="card-body">
                <h5 class="card-title">Data Analytics</h5>
                <p class="card-text" style="font-size: 12px;color:darkgray">
                  <i class="fa fa-video-camera" id="icons" aria-hidden="true"></i>Live Classes<br>
                  <i class="fa fa-calendar" id="icons" aria-hidden="true"></i>Weekend<br><br>
                  Reviews<br>
                  <i class='fa fa-star' id="star"></i>
                  <i class='fa fa-star' id="star"></i>
                  <i class='fa fa-star' id="star"></i>
                  <i class='fa fa-star' id="star"></i>
                  <i class='fa fa-star' id="star"></i><br><br>
                  <b style="color:black">Best Price &nbsp;&nbsp; Rs:10,000/-</b>
                </p>
              </div>
              <div class="middle">
                <div class="text">
                  <p style="text-align:left;">Next Batch<br>
                    In 10 days-20 Days<br><br>
                    Courses Under the Program
                    <li>Data Analytics Essentials</li><br><br>
                    <a href="" class="btn btn-outline-primary">SEE MORE</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#carouselExampleControls1" role="button" data-slide="prev">
      <span class="fa fa-lg fa-chevron-left" aria-hidden="true" style="color:grey;float:left;margin-left: -60px;margin-top:-190px;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a href="#carouselExampleControls1" role="button" data-slide="next">
      <span class="fa fa-lg fa-chevron-right" aria-hidden="true" style="color:grey;float:right;margin-right: -60px;margin-top:-190px;"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>