@media (min-width: 1000px) {
  #amazon{
    width: 130px;height:80px;margin-top: -92px;margin-left:100px;
  }
  #machine{
    width: 90px;height:80px;margin-top: -92px;margin-left:120px;
  }
  #nodejs{
    width: 90px;height:80px;margin-top: -92px;margin-left:120px;
  }
  #angular{
      width: 90px;height:80px;margin-top: -92px;margin-left:120px;
  }
  #react{
    width: 90px;height:80px;margin-top: -92px;margin-left:120px;
  }
  #java{
    width: 90px;height:80px;margin-top: -92px;margin-left:120px;
  }
  .middle {
    opacity: 0;
    position: absolute;
  }
  .text {
    padding-top:45px;
    padding-left:20px;
    padding-bottom:30px;
    background-color:black;opacity:0.9;
    color: white;
    font-size: 16px;
    width:100%;height:100%;
  }
  .card:hover .card-img-top .card-body{
    opacity: 0.2;
  }
  .card:hover .middle {
    width:100%;height:100%;
    opacity: 1;
  }
  .card1{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
  #star{
    font-size:20px;color:#f4bd37;padding-top: 5px;
    font-size:20px;color:#f4bd37;padding-top: 5px;
    font-size:20px;color:#f4bd37;padding-top: 5px;
    font-size:20px;color:#f4bd37;padding-top: 5px;
    font-size:20px;color:#f4bd37;padding-top: 5px;
  }
  #icons{
    padding-right:10px;font-size: 12px;
  }
  .desktopCarouselbutton{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: -50px;
    margin-bottom: -370px;
  }
  .desktopCarouselbutton1{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: 1160px;
    margin-bottom: -370px;
  }
}