<br>
<app-carousel></app-carousel>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center band" >
        <i class="fa fa-video-camera" style="padding-right:10px;" aria-hidden="true"></i>Live Instructor-led Classes
        <i class="fa fa-certificate iconband" aria-hidden="true"></i>Expert Educators
        <i class="fa fa-phone iconband" aria-hidden="true"></i>24X7 Support 
        <i class="fa fa-calendar iconband"  aria-hidden="true"></i>Flexible Schedule
    </p>
</div>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center band1">
        <b id=bold>Explore our wide range of courses in a click of a button</b>
        <a href="" routerLink="/Courses" class="btn btn-primary btn-rounded-sm">Browse All Courses</a>
    </p>
</div>
<app-card-carousel></app-card-carousel>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center band2">
        <b id="bold">Enroll, Learn, Grow, Repeat! Get ready to achieve your learning goals with Online Courses</b>
        <a href="" routerLink="/Courses" class="btn btn-primary btn-rounded-sm">View All Courses</a>
    </p>
</div>
<section style="background-color: #fcfcfc;">
    <div class="container" style="padding-top:20px;padding-bottom: 20px;">
        <h4 class="text-center" style="padding:40px;">The Online Course Advantage</h4>
        <div class="row">
            <div class="col-md-6 pade">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" class="image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title titl">Live Online Classes</h4>
                                <p class="card-text tex">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pade">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" class="image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title titl" >Live Online Classes</h4>
                                <p class="card-text tex" >The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pade">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" class="image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title titl">Live Online Classes</h4>
                                <p class="card-text tex">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pade">
                <div class="card" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1547814302/img/optimized/advantage1.jpg" class="image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-block">
                                <h4 class="card-title titl">Live Online Classes</h4>
                                <p class="card-text tex">The classes can be attended to at any place & any time as per your choice. Use our Android & iOS App to learn on the go</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid" style="padding:0px;">
    <p class="text-center band2">
        <b id="bold">We're “Ridiculously Committed”! We will not quit till you achieve your learning goals</b>
        <a href="" class="btn" routerLink="/Courses" style="background-color: #f6921e;">View All Courses</a>
    </p>
</div>
<app-threecardcarousel></app-threecardcarousel>